<!DOCTYPE html>
<html>
  <head>
    <title>Basecamp KPI Extractor</title>
  </head>
  <body>
    <h1><%= "#{todolist.bucket['type']}: #{todolist.bucket['name']} (##{todolist.bucket['id']})" %></h1>
    <h2>🕵🏽 KPIs for <b><%= todolist.title %></b> 📈</h2>
    <p>
      <% if todo_lifecycles %>
        <table>
          <thead>
            <tr>
              <th>Todo Name</th>
              <th>Work Started At</th>
              <th>Released At</th>
              <th>Release Version</th>
              <th>PRs</th>
            </tr>
          </thead>
          <tbody>
            <% todo_lifecycles.each do |todo| %>
              <tr>
                <td><%= todo.name %></td>
                <td><%= todo.work_started_at %></td>
                <td><%= todo.released_at %></td>
                <td><%= todo.release_version %></td>
                <td>
                  <% todo.pull_requests.each do |pr| %>
                      <a href=<%= pr[:link]%>><%= "#{pr[:repository]}##{pr[:number]}" %></a>&nbsp;
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <% if job_failed %>
          Report Failed ... Oops
        <% else %>
          Report Processing! Refresh the page in 10 seconds please!
        <% end %>
      <% end %>
    </p>
    <p>
      <a href=<%= todolist.app_url %>>See on Basecamp</a>
    </p>
  </body>
</html>
